@charset "utf-8";
/* CSS Document */
* { margin:0px;
	padding: 0px }


body {
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: flex-start;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color:#AD0624;
	background: #FDEEEE}

header {
	width: 100%
}
main{
	width: 100%
}
footer{
	width: 100%
	
}
h1{
	margin-top: 100px;
	color: white;
	font-size: 80px}

h2{
	margin-top:100px;
	justify-self: start;
	text-align: justify;
	font-size: 30px;
	margin-left: 30px;
	display: flex;
	
}

h3{
	margin-left:60px;
	text-align: justify;
	font-size: 20px;
	font-style: italic;
	width: 100%;
}


p{
	margin-left: 60px;
	font-size: 15px;
	max-width: 40%;
	}
/*index*/

/*header*/
.container {
	background: #AD0624;
	display: flex;
	padding-bottom: 60px;
	gap: 100px;
	padding-left: 70px;
}
.div{
	display: flex;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
}
.container img{
	margin-left: 100px;
	margin-top: 50px;
	border-radius: 10%;

}
.container h1 { 
	margin-top: 100px;
	color: white;
	font-size: 80px}

.container h2{
	margin-top: 20px;
	display: flex;
	color: white;
	font-size: 25px;
	font-style: italic;
}

.container p {
	color: white;
	text-align: justify;
	margin-left: 80px;	
}

/*botonera*/
#bot {
	position: sticky;
	top: 50px;
	z-index: 10;
	background-color:rgba(253,238,238,1.00);
}

nav ul{
	list-style: none;
}
nav ul{
	display:flex;
	flex-direction: row;
	justify-content:space-around
}
.botonera  ul li a{
	position: sticky;
	z-index: auto;
}
.botonera  ul li a{
	display: flex;
	margin-top: -20px;
	padding: 20px 80px 10px ;
	font-size:25px;
	text-decoration: none;
	color:#FFFFFF;
	background: #AD0624;
	border:2px solid;
	border-radius: 50px;
	text-emphasis-color: #FFFFFF;
	
}

.botonera ul li a:hover{
	color: white;
	background: #AD0624}

/*main*/

.disenos{
	color:#AD0624;
	font-size:35px;
	margin-top:6%;
	margin-left: 40px;	
}
.linea{
	border-top: 3px solid;
	color:#AD0624;
	margin-left: 40px;
	margin-right: 1500px;
	
}

/*tarjetas flip*/

.contenedor2{
	display:flex;
	justify-content: space-around
}
/*tarjeta 1*/

.card{
	margin-top: 2.7%;
	padding: 30px;
	position: relative;
	width:16%;
	height: 300px;
	
}
.card .face{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items:center;
	justify-content:center;
	backface-visibility: hidden;
	transition:1s;
	border-radius:5%;
	
}
.card .front{
	transform:perspective(600px) rotateY(0deg);
	box-shadow:0 5px 10px  grey;
}

.card:hover .front{
	transform:perspective(600px) rotateY(180deg)
}
.card:hover .back{
	transform:perspective(600px) rotateY(360deg)
}
.card .front img{
	position: absolute;
	width:100%;
	height: 100%;
	objet-fit: cover;
	border-radius:5%;
}
.card .back{
	transform:perspective(600px) rotateY(180deg);
	background: #AD0624;
	padding: 20px;
	color:white;
	display:flex;
	flex-direction:column;
	box-shadow:0 5px 10px grey;
	
}
.card .back h3{
	justify: center;
	
}

/*tarjeta 2*/

.card2{
	margin-top: 2.7%;
	margin-left: 80px;
	padding: 30px;
	position: relative;
	width:16%;
	height: 300px;
	
}
.card2 .face{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items:center;
	justify-content:center;
	border-radius:5%;
	backface-visibility: hidden;
	transition:1s;
	
}
.card2 .front{
	transform:perspective(600px) rotateY(0deg);
	box-shadow:0 5px 10px  grey;}

.card2 .front img{
	position: absolute;
	width:100%;
	height: 100%;
	objet-fit: cover;
	border-radius:5%;
}
.card2 .back{
	transform:perspective(600px) rotateY(180deg);
	background: #AD0624;
	padding: 20px;
	color:white;
	display:flex;
	flex-direction:column;
	box-shadow:0 5px 10px grey;	
}
.card2 .back h3{
	justify: center;
}
.card2:hover .front{
	transform:perspective(600px) rotateY(180deg)
}
.card2:hover .back{
	transform:perspective(600px) rotateY(360deg)
}

/*tarjeta 3*/

.card3{
	margin-top: 2.7%;
	margin-left: 80px;
	padding: 30px;
	position: relative;
	width:16%;
	height: 300px;
	
	
}
.card3 .face{
	position: absolute;
	height: 100%;
	width: 100%;
	display: flex;
	align-items:center;
	justify-content:center;
	backface-visibility: hidden;
	transition:1s;

}
.card3 .front{
	border-radius: 20px;
	transform:perspective(600px) rotateY(0deg);
	box-shadow:0 5px 10px  grey;}

.card3 .front img{
	position: absolute;
	width:100%;
	height: 100%;
	objet-fit: cover;
	border-radius:5%;
}
.card3 .back{
	margin-bottom: 1000px;
	border-radius: 20px;
	transform:perspective(600px) rotateY(180deg);
	background: #AD0624;
	color:white;
	display:flex;
	flex-direction:column;
	box-shadow:0 5px 10px grey;
}
.card3 .back h3{
	justify: center;
}
.card3 .back p{
	margin-left:20px;
	margin-right:20px;
}
.card3:hover .front{
	transform:perspective(600px) rotateY(180deg)
}
.card3:hover .back{
	transform:perspective(600px) rotateY(360deg)
}


/*galeria*/
.galeria{
	width: 100%;
	align-items: center;
	
	
}
.galeria .estilo{
	margin-top: 8%;
	display: flex;
}

.estilo img{
	width: 100%;	
}
.galeria .estilo a{
	background: no-repeat;
	width: 100%;
}

/*estudios e idioma*/

.contenedor3{
	display:flex;
	align-items: flex-start;
	
}
.contenedor3 ul li {
	list-style: none;
}
.estudios .idioma {

	margin-top:30px;
	min-width: 330px;
	
}
.estudios{
	margin-right: 50%;

}

/*footer*/

.contacto{
	width: 100%;
	color:white;
	margin-top:100px;
	background: #AD0624;
	align-items: center;
}

.contacto h2{
	margin-top: 10px;
	margin-left:60px;
	font-size: 35px;
}
.contacto h3{
	margin-left:60px;
	font-size: 15px;
}

.contacto p{
	margin-left:60px;
	font-size: 15px;
	margin-top: 50px;
	padding-bottom: 30px;
}


/* MODELAJE*/ 

/*botonera 2*/
.eleganza {
	background: #AD0624;
	display: flex;
	padding-bottom: 60px;
	padding-left: 70px;
	margin-top: 0px;

}
.titulo2{
	font-style: bold;
	font-size: 80px;
	margin-top: 70px;
	justify-content: center;
}

nav ul{
	list-style: none;
}
nav ul{
	display:flex;
	flex-direction: row;
	justify-content:space-around
}
.botonera2  ul li a{
	margin-top: 20px;
	position: sticky;
	z-index: auto;
}
.botonera2  ul li a{
	display: flex;
	margin-top: -20px;
	padding: 20px 80px 10px ;
	font-size:25px;
	text-decoration: none;
	color:#FFFFFF;
	background: #AD0624;
	border:2px solid;
	border-radius: 50px;
	text-emphasis-color: #FFFFFF;
	
}

.botonera2 ul li a:hover{
	color: white;
	background: #AD0624}
 /*galeria*/

.slide{
	width: 1280px;
	height: auto;
	margin-top: 2.7%;
}

.slide ul{
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 10s infinite alternate ease-in-out;	
}


.slide li{
	width: 100%;
	list-style: none;
	
}	

@keyframes slide{
	0%{margin-left: 0;}
	10%{margin-left: 0;}
	
	25%{margin-left:-100%;}
	35%{margin-left:-100%;}
	
	50%{margin-left:-200%;}
	60%{margin-left:-200%;}
	
	75%{margin-left:-300%;}
	100%{margin-left:-300%;}
}

@media (max-width: 991) {
	body { padding: 30px}
	.slide{ width: 100%}
	.modelaje{width: 100%}
	
}

/* <!-- hay mas imagenes colocadas pero no las muestra-->

/*portfolio*/

 a{
	widht: 100%;
	background: #AD0624;
	margin-left: 40px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color:#FFFFFF;
	padding: 15px 50px;
	border-radius: 25px;
	text-decoration: none;
	
} 


/*formulario*/

.formulario{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 60px;
	margin-top: 2.7%;	
}
#controles{
	display: flex;
	flex-direction: column;
	width: 40%;
	height: 80%;
	background: #AD0624;
	padding: 50px;
	border-radius: 20px;
	
}

.nombre {
	color: #AD0624;
	widht: 40%;
	background:#FDEEEE;
	border-color:white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	padding: 5px;
	margin-bottom: 20px;
}

.apellido {
	color: #AD0624;
	widht: 40%;
	background:#FDEEEE;
	border-color:white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	padding: 5px;
	margin-bottom: 20px;
}
.agencia {
	color: #AD0624;
	widht: 40%;
	background:#FDEEEE;
	border-color:white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	padding: 5px;
	margin-bottom: 20px;
}
.estilo-controles{
	color: #AD0624;
	widht: 40%;
	background:#FDEEEE;
	border-color:white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	padding: 40px;
	margin-bottom: 20px;
}
.propuesta{
	color: #AD0624;
	widht: 40%;
	background:#FDEEEE;
	border-color:white;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	padding: 40px;
	margin-bottom: 20px;
}
#controles p{
	color: #FFFFFF;
	margin-left: 0;
	width: 100%
}

 
.lista{ 
	padding-top: 0px;
	margin-top: -60px;
	color: #FDEEEE;
	margin-left: 50px;
	
	
}
/*audio*/ 

.audio{
	display: flex;
	padding-top: 10%;
	margin-left: 25px;
	
	
}
